<!DOCTYPE html>
<html>
	<head>
		<title>morphin</title>
		<link rel='stylesheet' type='text/css' media='screen' href='{{ MEDIA_URL }}morphin.css' />
		<script type='text/javascript' src='{{ MEDIA_URL }}jquery.min.js'></script>
		<script type='text/javascript' src='{{ MEDIA_URL }}json2.js'></script>
		<script type='text/javascript'>
			$(document).ready(function(){
				$('#show-about').click(function(e){
					e.preventDefault();
					$('#about').show();
				});
				$('#hide-about').click(function(e){
					e.preventDefault();
					$('#about').hide();
				});
			});
		</script>
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id='container'>
			<h1><a href='{% url morphin:index %}'>morphin</a></h1>
			<div id='wrapper'>
				{% block content %}{% endblock %}
			</div>
			<div id='footer'>
				by murat. <a id='show-about' href='#'>how?</a>
			</div>
		</div>
		<div id='about'>
			<h2>who?</h2>
			this guy murat. he has spare time.
			<h2>how?</h2>
			<table>
				<tr>
					<th>server</th>
					<td>ec2 micro instance, ubuntu 11.04</td>
				</tr>
				<tr>
					<th>web framework</th>
					<td>apache + wsgi + django</td>
				</tr>
				<tr>
					<th>image manipulation</th>
					<td>imagemagick &amp; python imaging library</td>
				</tr>
				<tr>
					<th>source code</th>
					<td><a href='https://github.com/mayfer/m/blob/master/morphin/image.py'>it's on my github</a></td>
				</tr>
			</table>
			<h2>why?</h2>
			good question
			<br /><br /><br />
			<button id='hide-about'>okay. thanks.</button>
		</div>
	</body>
</html>