{% extends "morphin/base.html" %}
{% block head %}
	<script type='text/javascript' src='{{ STATIC_URL }}scripts/jquery.jcrop.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}scripts/json2.js'></script>
	<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}styles/jquery.jcrop.css' media='screen' />
	<script type='text/javascript'>
		$(document).ready(function(){
			$('#master').Jcrop({
				onChange: updateCropMaster,
				onSelect: updateCropMaster,
			},function() {
			});
			
			$('#slave').Jcrop({
				onChange: updateCropSlave,
				onSelect: updateCropSlave,
			},function() {
			});
			
			var submit = $('#submit');
			var master_touched = false, slave_touched = false;
			
			function updateCropMaster(c) {
				$('#master-data').val(JSON.stringify(c));
				
				$('#slave').Jcrop({
					onChange: updateCropSlave,
					onSelect: updateCropSlave,
					aspectRatio: c.w/c.h,
				},function() {
				});
				
				if(master_touched && slave_touched) submit.prop('disabled', false);
				else master_touched = true;
			}	
			function updateCropSlave(c) {
				$('#slave-data').val(JSON.stringify(c));
				
				if(master_touched && slave_touched) submit.prop('disabled', false);
				else slave_touched = true;
			}
		});
	</script>
{% endblock %}

{% block content %}
	<div id='content'>
		<div id='hint'>
			okay so you gave me two photos now let's crop
		</div>
		<form method='post' action='{% url morphin:crop morph.id %}'>
			<table>
				<tr>
					<td class='picture master'>
						<img id='master' src='{{ morph.master_image.url }}?crop' /><!-- anticache -->
						<input type='hidden' name='master' id='master-data' value='{}' />
					</td>
					<td class='picture slave'>
						<img id='slave' src='{{ morph.slave_image.url }}?crop' /><!-- anticache -->
						<input type='hidden' name='slave' id='slave-data' value='{}' />
					</td>
				</tr>
			</table>
			<div class='tip'>
				the aspect ratio of the second image will adapt to the first
			</div>
			<button type='submit' disabled='disabled' id='submit'>Next</button>
		</form>
		<div id='info'></div>
	</div>
{% endblock %}
