{% extends "morphin/base.html" %}
{% block head %}
	<script type='text/javascript'>
	</script>
{% endblock %}

{% block content %}
	<div id='welcome'>
		an image morphing toy.
	</div>
	<div id='content'>
		<a href='{% url morphin:upload %}' class='button'>make your own</a>
		<div class='tip' style='margin: 30px 0 20px 0;'>
			or passively look at some examples
		</div>
		<div>
			{% with morph_examples as morphs %}
				{% include "morphin/list_morphs.html" %}
			{% endwith %}
		</div>
	</div>
{% endblock %}