{% extends "morphin/base.html" %}
{% block head %}
	<script type='text/javascript'>
		(function($) {
		    $.fn.nextWrap = function() {
		        var $next = this.next();
		        return ($next.length === 0) ? this.siblings().first() : $next;
		    };
		
		    $.fn.prevWrap = function() {
		        var $prev = this.prev();
		        return ($prev.length === 0) ? this.siblings().last() : $prev;
		    };
		})(jQuery);
	
	
		marker = function() { return $("<div>").addClass('marker'); }
		master_points = function() { return $("<input type='text' name='master' >"); }
		slave_points = function() { return $("<input type='text' name='slave' >"); }
		
		count = 0;
		frames = 10;
		captureClick = function(e) {
			var offset = $(this).offset();
			var box = $(this).parent();
			if(box.hasClass('master')) count++;
			var left = (e.pageX - offset.left), top = (e.pageY - offset.top);
			//log(left + ", " + top);
			
			marker().appendTo(box).addClass('m-'+count).css( { "top": top, "left": left } );
			
			box.removeClass('current').nextWrap().addClass('current');
		}
		
		$(document).ready(function(){
			$('.picture.current img').live('click', captureClick);
			
			$('#done').click(function(e){
				$('#imagick').html('');
				var master = $('.picture.master'), slave = $('.picture.slave');
	
				$('#imagick').append("cp manuel.jpg frame0.jpg<br />");
				$('#imagick').append("cp squirrel.jpg frame11.jpg<br />");
				for(var frame=1; frame <= frames; frame++) {
					var command1 = "convert manuel.jpg -virtual-pixel Mirror -distort Shepards '";
					var command2 = "convert squirrel.jpg -virtual-pixel Mirror -distort Shepards '";
					for(var i=1; i<=count; i++) {
						command1 += generate_stage(frame, i, master, slave);
						command2 += generate_stage(frames-frame, i, slave, master);
					}
					command1 += "' manuel_squirrel_"+frame+".jpg<br />";
					command2 += "' squirrel_manuel_"+frame+".jpg<br />";
					var dissolve = "composite -dissolve "+frame*10+"x"+(frames-frame)*10+"  -gravity center squirrel_manuel_"+frame+".jpg  manuel_squirrel_"+frame+".jpg -alpha Set frame"+frame+".jpg<br />";
					$('#imagick').append(command1).append(command2).append(dissolve);
				};
			});
			
			$('#json').click(function(e){
				var postdata = {'markers': []};
				
				var master = $('.picture.master'), slave = $('.picture.slave');
				for(var i=1; i<=count; i++) {
					var marker_master = master.find('.marker.m-'+i);
					var marker_slave = slave.find('.marker.m-'+i);
					var top_m = parseInt(marker_master.css('top')), left_m = parseInt(marker_master.css('left'));
					var top_s = parseInt(marker_slave.css('top')), left_s = parseInt(marker_slave.css('left'));
					postdata['markers'].push({
						'master': {'x': left_m, 'y': top_m },
						'slave': {'x': left_s, 'y': top_s }
					});
				}
				$.post(
					'{% url morphin_generate %}',
					{ 'data': JSON.stringify(postdata) },
					function(response) {
						alert(JSON.stringify(response));
					}, 'json'
				);
			});
			
			$('body').keyup(function(e) { 
				if (e.keyCode == 27) {
					$('.marker.m-'+count).remove();
					if(count) count--;
					pick_pic();
				}
			});
		});
		function pick_pic() {
			var pic;
			$('#pictures .picture.master').addClass('current').nextWrap().removeClass('current');
		}
		function log(text) {
			$('#imagick').append("\n"+text)
		}
		
		function generate_stage(frame, i, master, slave, stage) {
			var marker_master = master.find('.marker.m-'+i);
			var marker_slave = slave.find('.marker.m-'+i);
			
			var top_m = parseInt(marker_master.css('top')), left_m = parseInt(marker_master.css('left'));
			var top_s = parseInt(marker_slave.css('top')), left_s = parseInt(marker_slave.css('left'));
			
			var top_diff = (top_s - top_m), left_diff = (left_s - left_m);
			var top = parseInt(top_m + (top_diff * (frame/frames)));
			var left = parseInt(left_m + (left_diff * (frame/frames)));
			
			//return top_m+","+left_m+" "+top+","+left+"  ";
			return left_m+","+top_m+" "+left+","+top+"  ";
		}
	</script>
{% endblock %}

{% block content %}
	<div id='wrapper'>
		<h1>morphin</h1>
		<div id='pictures'>
			<div id='hint'>start clicking</div>
			<table>
				<tr>
					<td class='picture master current'><img src='{{ MEDIA_URL }}morphin/manuel.jpg' /></td>
					<td class='picture slave'><img src='{{ MEDIA_URL }}morphin/squirrel.jpg' /></td>
				</tr>
			</table>
			<button id='done'>Shell</button> 
			<button id='json'>JSON</button>
			<div id='imagick'></div>
		</div>
	</div>
{% endblock %}