{% extends "morphin/base.html" %}
{% block head %}
	<script type='text/javascript'>
		(function($) {
		    $.fn.nextWrap = function() {
		        var $next = this.next();
		        return ($next.length === 0) ? this.siblings().first() : $next;
		    };
		
		    $.fn.prevWrap = function() {
		        var $prev = this.prev();
		        return ($prev.length === 0) ? this.siblings().last() : $prev;
		    };
		})(jQuery);
	
	
		marker = function() { return $("<div>").addClass('marker'); }
		master_points = function() { return $("<input type='text' name='master' >"); }
		slave_points = function() { return $("<input type='text' name='slave' >"); }
		
		count = 0;
		frames = 10;
		captureClick = function(e) {
		
			var themarker, thepicture, offset, box, has_moving;
			
			thepicture = $(this);
			themarker = $(this).parent().find('.marker.moving');	
			offset = thepicture.offset();
			box = thepicture.parents('td');

			// the point size is 4 px, which puts the center at 2, so 4-2=2
			var left = (e.pageX - offset.left - 2), top = (e.pageY - offset.top - 2);
			
			if(themarker.length) {
				themarker.css( { "top": top, "left": left } );
			} else {
				if(box.hasClass('master')) count++;
				marker().appendTo(box.find('.clickarea')).addClass('m-'+count).css( { "top": top, "left": left } ).data('count', count);
				box.removeClass('current').addClass('inactive').nextWrap().addClass('current').removeClass('inactive');
			}
			
			$('#done').prop('disabled', false);
		}
		
		$(document).ready(function(){
			$('.picture.current img').live('mousedown', captureClick);
		
			
			$('#done').click(function(e){
				if($(this).prop('disabled') == false) {
					$('#done').html('Processing...').prop('disabled', true);
					$('#morph').html("<img src='{{ MEDIA_URL }}loader.gif' />");
									
					var postdata = {'markers': []};
					
					var master = $('.picture.master'), slave = $('.picture.slave');
					for(var i=1; i<=count; i++) {
						var marker_master = master.find('.marker.m-'+i);
						var marker_slave = slave.find('.marker.m-'+i);
						// for -2, see comment in captureClick
						var top_m = parseInt(marker_master.css('top'))+2, left_m = parseInt(marker_master.css('left'))+2;
						var top_s = parseInt(marker_slave.css('top'))+2, left_s = parseInt(marker_slave.css('left'))+2;
						postdata['markers'].push({
							'master': {'x': left_m, 'y': top_m },
							'slave': {'x': left_s, 'y': top_s }
						});
					}
					$.post(
						'{% url morphin:generate morph.id %}',
						{ 'data': JSON.stringify(postdata) },
						function(response) {
							if(response.status=='ok') {
								$('#final').show();
								$('#done').html('Preview').prop('disabled', false);
								var ts = Math.round((new Date()).getTime() / 1000);
								$('#morph').html("<img src='"+response.image_url+"?"+ts+"' />");
							} else {
								alert(JSON.stringify(response));
							}
						}, 'json'
					);
				}
			});
			
			$('#finalize').click(function(e){
				window.location = '{% url morphin:view morph.id %}';
			});
			
			$('body').keyup(function(e) { 
				if (e.keyCode == 27) {
					$('.marker.m-'+count).remove();
					if(count) count--;
					pick_pic();
				} else if(e.keyCode == 68) {
					$('.m-'+$('.moving').data('count')).remove();
				}
			});
			
			$('.marker').live('mousedown', function(e){
				e.preventDefault();
				var movingmarker = $(this);
				movingmarker.addClass('moving');
				var image = $(this).parent().find('img');
				var box = image.parent().addClass('crosshair');
				image.bind('mousemove', captureClick);
				box.one('mouseup', function(){
					image.unbind('mousemove');
					movingmarker.removeClass('moving');
					box.removeClass('crosshair');
				});
			});

			$('textarea.caption').click(function(e){
				$(this).select();
			});
		});
		function pick_pic() {
			var pic;
			$('.picture.master').addClass('current').removeClass('inactive').nextWrap().removeClass('current').addClass('inactive');
		}

	</script>
{% endblock %}

{% block content %}
	<div id='content'>
		<div id='hint'>
			starting with the left image,<br />click on points that you want to morph into each other.
		</div>
		<table class='points'>
			<tr>
				<td class='picture master current'>
					<div class='clickarea'>
						<img src='{{ morph.master_image.url }}?points' /><!-- anticache -->
					</div>
				</td>
				<td class='picture slave inactive'>
					<div class='clickarea'>
						<img src='{{ morph.slave_image.url }}?points' /><!-- anticache -->
					</div>
				</td>
			</tr>
		</table>
		<div class='tip'>more points yield better results.<br />also, press d while dragging to delete a point.</div>
		<button id='done' disabled='disabled'>Preview</button>
		<div id='morph'>
			{% if morph.morph_image %}
				<img src='{{ morph.morph_image.url }}' />
			{% endif %}
		</div>
		
		<div id='final' {% if not morph.morph_image %} style='display:none;' {% endif %}>
			<div class='tip'>when satisfied, caption and finalize</div>
			<form action='{% url morphin:view morph.id %}' method='post'>
				<textarea class='caption' name='caption'>Enter a caption. Or not.</textarea>
				<button id='finalize' type='submit'>Finalize</button>
			</form>
		</div>
	</div>
{% endblock %}