{% extends "morphin/base.html" %}
{% block head %}
	<script type='text/javascript'>
		(function($) {
		    $.fn.nextWrap = function() {
		        var $next = this.next();
		        return ($next.length === 0) ? this.siblings().first() : $next;
		    };
		
		    $.fn.prevWrap = function() {
		        var $prev = this.prev();
		        return ($prev.length === 0) ? this.siblings().last() : $prev;
		    };
		})(jQuery);
	
	
		marker = function() { return $("<div>").addClass('marker'); }
		master_points = function() { return $("<input type='text' name='master' >"); }
		slave_points = function() { return $("<input type='text' name='slave' >"); }
		
		count = 0;
		frames = 10;
		captureClick = function(e) {
			var offset = $(this).offset();
			var box = $(this).parent();
			if(box.hasClass('master')) count++;
			var left = (e.pageX - offset.left), top = (e.pageY - offset.top);
			//log(left + ", " + top);
			
			marker().appendTo(box).addClass('m-'+count).css( { "top": top, "left": left } );
			
			box.removeClass('current').addClass('inactive').nextWrap().addClass('current').removeClass('inactive');
			
			$('#done').prop('disabled', false);
		}
		
		$(document).ready(function(){
			$('.picture.current img').live('click', captureClick);
		
			
			$('#done').click(function(e){
				if($(this).prop('disabled') == false) {
					var postdata = {'markers': []};
					
					var master = $('.picture.master'), slave = $('.picture.slave');
					for(var i=1; i<=count; i++) {
						var marker_master = master.find('.marker.m-'+i);
						var marker_slave = slave.find('.marker.m-'+i);
						var top_m = parseInt(marker_master.css('top')), left_m = parseInt(marker_master.css('left'));
						var top_s = parseInt(marker_slave.css('top')), left_s = parseInt(marker_slave.css('left'));
						postdata['markers'].push({
							'master': {'x': left_m, 'y': top_m },
							'slave': {'x': left_s, 'y': top_s }
						});
					}
					$.post(
						'{% url morphin:generate %}',
						{ 'data': JSON.stringify(postdata) },
						function(response) {
							alert(JSON.stringify(response));
						}, 'json'
					);
				}
			});
			
			$('body').keyup(function(e) { 
				if (e.keyCode == 27) {
					$('.marker.m-'+count).remove();
					if(count) count--;
					pick_pic();
				}
			});
		});
		function pick_pic() {
			var pic;
			$('#pictures .picture.master').addClass('current').removeClass('inactive').nextWrap().removeClass('current').addClass('inactive');
		}
		function log(text) {
			$('#imagick').append("\n"+text)
		}
		
		function generate_stage(frame, i, master, slave, stage) {
			var marker_master = master.find('.marker.m-'+i);
			var marker_slave = slave.find('.marker.m-'+i);
			
			var top_m = parseInt(marker_master.css('top')), left_m = parseInt(marker_master.css('left'));
			var top_s = parseInt(marker_slave.css('top')), left_s = parseInt(marker_slave.css('left'));
			
			var top_diff = (top_s - top_m), left_diff = (left_s - left_m);
			var top = parseInt(top_m + (top_diff * (frame/frames)));
			var left = parseInt(left_m + (left_diff * (frame/frames)));
			
			//return top_m+","+left_m+" "+top+","+left+"  ";
			return left_m+","+top_m+" "+left+","+top+"  ";
		}
	</script>
{% endblock %}

{% block content %}
	<div id='wrapper'>
		<h1>morphin</h1>
		<div id='pictures'>
			<div id='hint'>starting with the left image,<br />click on points that you want to morph into each other.</div>
			<table>
				<tr>
					<td class='picture master current'><img src='{{ morph.master_image.url }}?points' /></td><!-- anticache -->
					<td class='picture slave inactive'><img src='{{ morph.slave_image.url }}?points' /></td><!-- anticache -->
				</tr>
			</table>
			<button id='done' disabled='disabled'>Done</button>
			<div id='imagick'></div>
		</div>
	</div>
{% endblock %}