{% extends "morphin/base.html" %}
{% block head %}
	<script type='text/javascript'>
	</script>
{% endblock %}

{% block content %}
	<div id='content'>
		{% if firsttime %}
			you're done.<br /><br />
			right-click &rarr; save image if you want
            <br />
		{% endif %}
		<div class='morph single'>
			<img src='{{ morph.morph_image.url }}' />
		</div>
		{% if morph.caption %}
			<br />
			<span class='caption'>
				{{ morph.caption|linebreaksbr }}
			</span>
		{% endif %}
	</div>
{% endblock %}
