<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}styles/style.css' media='screen' />
		<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
		{% block head_tags %}{% endblock %}
	</head>
	<body class='{% block page %}{% endblock %}'>
		<div class='wrapper'>
			<div id='crumbs'>
				<div><a href='{% url home-skip %}' class='home'></a></div>
				<div>{% block navtitle %}{% endblock %} &laquo;</div>
			</div>
		</div>
		{% block content %}{% endblock %}
		<div id='preload'></div>
	</body>
</html>
