<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-28051023-1']);
          _gaq.push(['_setDomainName', 'muratayfer.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        <div id='header'>
            <h1>Confuscate</h1>
            <h2>Abusive code obfuscation</h2>
        </div>
        <div class='wrapper'>
        </div>
        <div id='footer'>by <a href='http://muratayfer.com'>murat</a>. reach me at <a href='mailto:murat@ayfer.net'>murat@ayfer.net</a>.</div>
    </body>
</html>

