{% extends "base.html" %}

{% block head_tags %}
	<title>murat &raquo; play</title>
	<script type='text/javascript'>
		$(document).ready(function(){
			$('a.expand-story').live('click', function(e){
				e.preventDefault();
				var expander = $(this);
				var url = expander.data('full-url');
				expander.html('[ one sec ]');
				$.get(url, function(response){
					var preview = expander.parent()
					var entry = preview.parent();
					entry.find('.date').show()
					entry.find('.full .text').html(response).show();
					preview.hide();
				});
			});
		});
	</script>
	<style type='text/css'>
		{% for entry in entries %}
			{{ entry.custom_css }}
		{% endfor %}
		.entry .text { display: none; }
	</style>
{% endblock %}

{% block page %}play{% endblock %}
{% block navtitle %}play{% endblock %}

{% block content %}
	<div id='intro'>
		<div class='wrapper'>
			<h2>various things i found</h2>
		</div>
	</div>
	
	<div class='wrapper'>
		<div id='play-content'>
			{% autoescape off %}
			{% for entry in entries %}
				<div class='entry'>
					<h3><a href='{% url play-entry id=entry.id %}'>{{ entry.title }}</a></h3>
					<div class='preview'>
						{{ entry.preview }}
						{% if entry.content %}
							<a href='#' class='expand-story' data-full-url='{% url play-entry-ajax id=entry.id %}'>[ + ]</a>
						{% endif %}
					</div>
					<div class='full'>
						<div class='text {{ entry.url_title }}'>
							
						</div>
						<div class='date'>
							{% firstof entry.date_label entry.date %}
						</div>
					</div>
				</div>
			{% endfor %}
			{% endautoescape %}
		</div>
	</div>
{% endblock %}
