<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}style.css' media='screen' />
		<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
		<script type='text/javascript'>
			    	
			$(document).ready(function(){
		    });
		</script>
	</head>
	<body>
		<div class='wrapper'>
			<div id='crumbs'>
				<div><a href='{% url home %}' class='home'></a></div>
				<div>my humble resume &laquo;</div>
			</div>
		</div>
		<div id='intro'>
			<div class='wrapper'>
				<h2 class='hello'>hello, i am murat and</h2>
				<h2 class='good'>i'm good at getting computers to obey,</h2>
				<h2 class='ape'>which is what i do at <a href=''>a thinking ape</a></h2>
				<h2 class='van'>in vancouver, bc.</h2>
				<h2 class='contact'>you can contact me at <a href='mailto:murat@ayfer.net'>murat@ayfer.net</a></h2>
				<h2 class='spam'>and yes spam don't scare me</h2>
			</div>
		</div>
		
		<div class='wrapper'>
			<div id='resume'>
				<h3>things i do</h3>
				<p>coder, linux sys admin, interface designer. can also interface with humans.</p>
				<h3>education</h3>
				<p>UBC Computer Engineering (Software option)<br />5 months of the 4 years spent abroad in Uppsala, Sweden</p>
				<h3>skill set</h3>
				<ul>
					<li>
						programming
						<ul>
							<li>currently enjoying poetic Python with Django.</li>
							<li>pretty experienced with PHP. CodeIgniter is my favorite framework (because it lets <em>me</em> do the coding), however i've also used Zend, Cake and perhaps others i may have forgotten about. bit of experience with Wordpress and Drupal.</li>
							<li>i know, and dislike Java. few friends whom i respect have convinced me that it's not so bad though.</li>
							<li>ruby, but i don't get why people use it other than to attend startup meetings without feeling left out. i only learned it to write <a href='http://kde-apps.org/content/show.php?content=93907'>an Amarok script</a> which i used for personal convenience.</li>
							<li>i once used perl long time ago for a regex-heavy script i wrote (i was scraping my school's bookstore database for my <a href='http://ubcbook.com'>book exchange website</a>)</li>
							<li>i wish i had more experience with C and C++, i haven't touched them since school. most f(r)u(stratio)n i've had with C++ was in my parallel programming course (pthreads, open mpi, etc) VHDL was also fun.</li>
							<li>i overthink variable/function names and enjoy spending time looking for better ways of doing certain tasks (i have a good intuitive sense for guessing what else could be out there). my code is clean, concise and maintainable and hence it rarely needs comments.  <a href='http://c2.com/cgi/wiki?LazinessImpatienceHubris'>laziness</a> pays off.</li>
							<li>i think design patterns are for show-offs. a soccer player doesn't need to know the name of every muscle he uses to play well.</li>
						</ul>
					</li>
					<li>
						server side software configuration
						<ul>
							<li>apache (vhosts, ssl, mod_php, mod_wsgi, mod_rewrite, etc.)</li>
							<li>ssh (fail2ban, denyhosts)</li>
							<li>postfix (and mail-related DNS best practices)</li>
							<li>cron jobs</li>
							<li>database management (well, just MySQL nothing fancy)</li>
							<li>HAProxy</li>
							<li>monitoring tools (monit, munin)</li>
							<li>list goes on, you get the idea.</li>
						</ul>
					</li>
					<li>
						web front-end development
						<ul>
							<li>clean html with meaningful markup (id's and classes indicate what the elements are - not how they look.)</li>
							<li>compatible css that degrades gracefully with browsers that have down syndrome</li>
							<li>responsive javascript interactivity with jQuery. other than that, i try to avoid heavy and bloaty libraries at all costs.</li>
							<li>i am especially good at understanding the needs of the user, and designing the interface around their priorities.</li>
						</ul>
					</li>
					<li>
						person
						<ul>
							<li>generally chill</li>
							<li>sensitive to bs</li>
						</ul>
					</li>
				</ul>
				<h3>past experience</h3>
				<p>i loved working at <a>Invoke Media</a> for a while, then moved to <a>A Thinking Ape</a> due to my fickle heart.</p>
				<p>the rest of my past work only matters when i'm trying to impress employers.</p>
				<h3>also</h3>
				<ul>
					<li>first program i wrote was a calculator in Visual Basic. i was twelve.</li>
					<li>first useful program i wrote installed persistent live Ubuntu onto USB flash drives. this was before there were GUI installers. credit goes to fdisk and Ubuntu, not me.</li>
					<li>given any problem or project, google and time is all i need. it would be nice to have people around though.</li>
					<li>ssh is vital to my survival</li>
					<li>this resume is nongermane.</li>
				</ul>
				<h3>current side projects</h3>
				<ul>
					<li>bus schedule interface for Vancouver (runs on django.) <a href='http://takethebus.in/vancouver'>view working version here</a></li>
					<li>the drawing game, as me and my friends call it. (i wanted to play with html canvas. although <a href='http://www.doodleordie.com/'>someone else</a> made pretty much the exact same thing)</li>
					<li>chord progression builder. (the lack of music theory visualization software out there made me think maybe i should give it a try.)</li>
				</ul>
			</div>
			<div id='timestamp'>
				last updated Wednesday, October 26, 2011
			</div>
		</div>
		<div id='preload'></div>
	</body>
</html>
