{% extends "base.html" %}

{% block head_tags %}
    <title>murat's resume</title>
{% endblock %}

{% block page %}work{% endblock %}
{% block navtitle %}my humble resume{% endblock %}

{% block content %}
        <div id='intro'>
            <div class='wrapper'>
                <h2 class='hello'>hello, i am murat and</h2>
                <h2 class='good'>i'm good at computer things,</h2>
                <h2 class='ape'>which is what i do at <a href='http://quiet.ly'>quietly</a></h2>
                <h2 class='van'>in vancouver, bc.</h2>
                <h2 class='contact'>you can contact me at <a href='mailto:murat@ayfer.net'>murat@ayfer.net</a></h2>
            </div>
        </div>
        
        <div class='wrapper'>
            <div id='resume'>
                <h3>things I do</h3>
                <p>
                    Coder, UNIX system administrator, product &amp; interface designer. Can also interface with people.<br />
                    Skilled and experienced in every aspect of product development including DevOps, UX, management, training, recruiting, etc.
                </p>
                <h3>full time work</h3>
                <p>I loved working at <a href='http://www.invokemedia.com/'>Invoke Media</a> (creators of HootSuite) and <a href='http://www.athinkingape.com/'>A Thinking Ape</a> in the past couple years.<br />Currently I'm with <a href='http://quiet.ly'>Quietly</a>, a brand new startup.</p>
                <h3>side projects</h3>
                <p>Please see the <a href='{% url make %}'>make section</a>.</p>
                <h3>programming skills</h3>
                <ul>
                    <li>Currently Python is my favorite. I do a lot of JavaScript. In the past, I've worked with most of the popular languages such as PHP, Perl, Ruby, Java, C++, etc. I have a solid understanding of how a computer works, and have no problem working with low level languages.</li>
                    <li>I know my way around language docs quite well, and jumping onto projects with languages I'm not familiar with is never a problem, other than perhaps slowing me down.</li>
                    <li>I enjoy spending time looking for better ways of doing things. I have a good intuition for knowing what is possible, what is feasible, and what is not. My code is clean, concise and maintainable and hence it rarely needs long explanatory comments. I dislike repetitive typing, so I try to come up with generic solutions. <a href='http://c2.com/cgi/wiki?LazinessImpatienceHubris'>Laziness</a> pays off.</li>
                </ul>
                <h3>sys admin skills</h3>
                <ul>
                    <li>Strong hands-on knowledge of Linux and the web (filesystems, users/permissions, memory/process/thread management, TCP/IP &amp; network layers (OSI model), DNS, SSL, etc.)</li>
                    <li>Web servers (nginx, Apache, Tornado)</li>
                    <li>Security and authentication (iptables, fail2ban, denyhosts, LDAP, etc.)</li>
                    <li>Database management (mostly MySQL, bit of PostgreSQL)</li>
                    <li>Distributed system design and implementation (service-based web architecture)</li>
                    <li>Load balancing (HAProxy)</li>
                    <li>Monitoring tools (monit, munin, nagios)</li>
                    <li>Deployment and automation tools</li>
                    <li>Version control best practices for very large teams</li>
                    <li>Virtualization and cloud environments (KVM, VirtualBox, Parallels, etc.)</li>
                    <li>Mail servers (Postfix and mail-related DNS best practices)</li>
                    <li>Scalable data analysis with Hadoop</li>
                    <li class='fade'>list goes on, you get the idea.</li>
                </ul>
                <h3>front-end design</h3>
                <ul>
                    <li>Clean HTML with meaningful markup (ID's and classes indicate what the elements are - not how they look.)</li>
                    <li>Compatible CSS that degrades gracefully with browsers that have down syndrome</li>
                    <li>Responsive javascript interactivity with jQuery. Other than that, I try to avoid heavy and bloaty libraries.</li>
                    <li>I am especially skilled at understanding the needs of the user, and designing the interface around their priorities. Half of the interface design process is talking to those who will be using it, and the other half is iterating over the designs according to personal taste, feedback and analytics.</li>
                </ul>
                <h3>person</h3>
                <ul>
                    <li>Generally chill</li>
                    <li>Sensitive to BS</li>
                    <li>Confident at talking to clients</li>
                    <li>Skilled at explaining technical concepts to technically-challenged people in simple terms</li>
                    <li>I wouldn't ever want to separate work and humour</li>
                    <li>I try to stay physically, socially, musically and artistically active. Unplugging on a near-daily basis is essential for sanity</li>
                    <li></li>
                </ul>
                <h3>education</h3>
                <p>UBC Computer Engineering (Software option)<br />I spent 5 months of the 4 years in Uppsala Universitet, Sweden</p>
                <h3>also</h3>
                <ul>
                    <li>Given any problem or project, google and time is all I need. It would be great to have people and <a href='http://last.fm/user/muratayfer'>music</a> as well though.</li>
                    <li><code>ssh</code> is vital to my survival.</li>
                </ul>
            </div>
            <div id='timestamp'>
                last updated August 2013
            </div>
        </div>
{% endblock %}
