{% extends "base.html" %}

{% block head_tags %}
	<title>murat's resume</title>
{% endblock %}

{% block page %}work{% endblock %}
{% block navtitle %}my humble resume{% endblock %}

{% block content %}
		<div id='intro'>
			<div class='wrapper'>
				<h2 class='hello'>hello, i am murat and</h2>
				<h2 class='good'>i'm good at getting computers to obey,</h2>
				<h2 class='ape'>which is what i do at <a href=''>a thinking ape</a></h2>
				<h2 class='van'>in vancouver, bc.</h2>
				<h2 class='contact'>you can contact me at <a href='mailto:murat@ayfer.net'>murat@ayfer.net</a></h2>
				<h2 class='spam'>and yes spam don't scare me</h2>
			</div>
		</div>
		
		<div class='wrapper'>
			<div id='resume'>
				<h3>things I do</h3>
				<p>Coder, Linux sys admin, interface designer. Can also interface with people.</p>
				<h3>education</h3>
				<p>UBC Computer Engineering (Software option)<br />5 months of it spent abroad in Uppsala, Sweden</p>
				<h3>full time work</h3>
				<p>I loved working at <a href='http://www.invokemedia.com/'>Invoke Media</a> for a while, then moved to <a href='http://www.athinkingape.com/'>A Thinking Ape</a>, where my responsibilities mostly revolve around leading the tools engineering team.</p>
				<h3>current side projects</h3>
				<ul>
					<li>Bus schedule interface for Vancouver (runs on Django.) <a href='http://takethebus.in/vancouver'>view working version here</a></li>
					<li>The drawing game, as me and my friends call it. (I wanted to play with html canvas. Although <a href='http://www.doodleordie.com/'>someone else</a> made pretty much the exact same thing)</li>
					<li>Chord progression builder. (The lack of music theory visualization software out there made me think maybe I should give it a try.)</li>
				</ul>
				<h3>programming skills</h3>
                <ul>
                    <li>Currently enjoying poetic Python with Django.</li>
                    <li>Pretty experienced with PHP. CodeIgniter is my favorite framework (because it lets <em>me</em> do the coding), however i've also used Zend, Cake and perhaps others I may have forgotten about. Bit of experience with Wordpress and Drupal.</li>
                    <li>I know, and dislike Java. Few friends whom I respect have convinced me that it's not so bad though.</li>
                    <li>Ruby, but I often get confused why people use it other than to attend startup meetings without feeling left out. I learned it to write <a href='http://kde-apps.org/content/show.php?content=93907'>an Amarok script</a> which I used for personal convenience.</li>
                    <li>I once used Perl long time ago for a regex-heavy script I wrote (i was scraping my school's bookstore database for my <a href='http://ubcbook.com'>book exchange website</a>)</li>
                    <li>I wish I had more experience with C and C++, I haven't touched them since school. Most f<span class='fade'>r</span>u<span class='fade'>stratio</span>n i've had with C++ was in my parallel programming course (pthreads, open mpi, etc). VHDL was also fun.</li>
                    <li>I enjoy spending time looking for better ways of doing certain tasks and I have a good intuition for guessing what is possible. I dislike repetitive typing. My code is clean, concise and maintainable and hence it rarely needs long explanatory comments.  <a href='http://c2.com/cgi/wiki?LazinessImpatienceHubris'>Laziness</a> pays off.</li>
                    <li>If you judge how good a coder I am by asking me to name some design patterns, we might not get along.</li>
                </ul>
				<h3>sys admin skills</h3>
                <ul>
                    <li>apache (vhosts, ssl, mod_php, mod_wsgi, mod_rewrite, etc.)</li>
                    <li>ssh (fail2ban, denyhosts)</li>
                    <li>postfix (and mail-related DNS best practices)</li>
                    <li>cron jobs</li>
                    <li>database management (well, mostly MySQL, nothing fancy)</li>
					<li>distributed system design</li>
                    <li>HAProxy</li>
                    <li>monitoring tools (monit, munin, nagios)</li>
                    <li class='fade'>list goes on, you get the idea.</li>
                </ul>
                <h3>front-end design</h3>
                <ul>
                    <li>Clean html with meaningful markup (ID's and classes indicate what the elements are - not how they look.)</li>
                    <li>Compatible CSS that degrades gracefully with browsers that have down syndrome</li>
                    <li>Responsive javascript interactivity with jQuery. Other than that, I try to avoid heavy and bloaty libraries at all costs.</li>
                    <li>I am especially skilled at understanding the needs of the user, and designing the interface around their priorities. Half of the interface design process is talking to those who will be using it, and the other half is iterating over the designs according to personal taste, feedback and analytics.</li>
                </ul>
                <h3>person</h3>
                <ul>
                    <li>Generally chill</li>
                    <li>Sensitive to BS</li>
					<li>Skilled at talking to clients and explaining technical concepts to technically-challenged people</li>
					<li>I wouldn't ever want to separate work and humor</li>
                </ul>
				<h3>also</h3>
				<ul>
					<li>First program I wrote was a calculator in Visual Basic when I was twelve.</li>
					<li>First useful program I wrote installed persistent live Ubuntu onto USB flash drives. This was before there were GUI installers. Credit goes to fdisk and Ubuntu, not me.</li>
					<li>Given any problem or project, google and time is all I need. It would always be nice to have people around though.</li>
					<li><code>ssh</code> is vital to my survival.</li>
				</ul>
			</div>
			<div id='timestamp'>
				last updated Wednesday, October 26, 2011
			</div>
		</div>
{% endblock %}
