html { height: 100%; padding: 0; margin: 0; }
body { height: 100%; padding: 0; margin: 0; background: url('../images/background.gif'); font-family: 'Comfortaa', cursive; }

a { color: #fff; text-decoration: none; }

#preload {
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url('../images/work.png');
    background-image: url('../images/play.png');
    background-image: url('../images/make.png');
    background-image: url('../images/work_hover.png');
    background-image: url('../images/play_hover.png');
    background-image: url('../images/make_hover.png');
}

#wrapper { height: 100%; }
table { height: 100%; width: 100%; border-collapse:collapse; }
td { vertical-align: center; text-align: center; }
/*
#intro { text-align: center; position: absolute; top: 40%;display: table-cell; vertical-align: middle; line-height: 50px; font-size: 50px; color: rgba(255,255,255,0.0); width: 400px; font-family: 'Comfortaa', cursive; font-weight: bold; letter-spacing: 5px; text-shadow: #fff 0px 0px 25px, #fff 0px 0px 15px; -webkit-transition-property: text-shadow, color; -webkit-transition-duration: 0.2s, 0.2s; -webkit-transition-timing-function: linear, linear; }

#intro:hover { color: rgba(255,255,255,1); text-shadow: #000 0px 0px 5px; }
*/

#wrapper {
	width: 400px;
	height: 425px;
	margin: 0 auto;
}

#intro-container { 
	height: 400px;
	border-radius: 200px;
	-moz-border-radius: 200px;
	background: url(tile_test5.png);
	box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.5) inset, -4px -4px 10px 2px rgba(255,255,255,0.2);
	-moz-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.5) inset, -4px -4px 10px 2px rgba(255,255,255,0.2);
	-webkit-transition-property: all; -webkit-transition-duration: 0.2s, 0.2s; -webkit-transition-timing-function: linear, linear;
	-moz-transition-property: all; -moz-transition-duration: 0.2s, 0.2s; -moz-transition-timing-function: linear, linear;
}

#intro-container.work {
	box-shadow: 2px 2px 15px 2px rgba(0,50,0,0.5) inset, -4px -4px 10px 2px rgba(0,255,0,0.3);
	-moz-box-shadow: 2px 2px 15px 2px rgba(0,50,0,0.5) inset, -4px -4px 10px 2px rgba(0,255,0,0.4);
}
#intro-container.play {
	box-shadow: 2px 2px 15px 2px rgba(50,0,50,0.5) inset, -4px -4px 10px 2px rgba(255,0,255,0.4);
	-moz-box-shadow: 2px 2px 15px 2px rgba(50,0,50,0.5) inset, -4px -4px 10px 2px rgba(255,0,255,0.4);
}
#intro-container.make {
	box-shadow: 2px 2px 15px 2px rgba(50,0,0,0.5) inset, -4px -4px 10px 2px rgba(255,0,0,0.4);
	-moz-box-shadow: 2px 2px 15px 2px rgba(50,0,0,0.5) inset, -4px -4px 10px 2px rgba(255,0,0,0.4);
}

#nav { padding: 125px 30px 125px 40px; display: none; }
#nav a { display: block; }

#nav a .icon { height: 120px; position: relative; }
#nav a .icon img { position: absolute; top: 0; left: 0; }
#nav a .icon .hover { display: none; }

#work, #play, #make { /*color: #577e97;*/ color: #ccc; float: left; margin-right: 10px; line-height: 10px; display: block; width: 100px; text-aign: center; text-shadow: #000 0 0 15px; font-weight: bold; opacity: 0.5;
-webkit-transition-property: text-shadow, color, opacity; -webkit-transition-duration: 0.2s, 0.2s; -webkit-transition-timing-function: linear, linear;
 }
#work.hover, #play.hover, #make.hover { color: #fff; opacity: 1; }
#work.hover { text-shadow: #0f0 0 0 15px; }
#play.hover { text-shadow: #f0f 0 0 15px; }
#make.hover { text-shadow: #f00 0 0 15px; }


#intro {
	height: 50px;
	padding: 175px 0;
}

#murat { 
	cursor: pointer;
	position: relative;
	left: 15px;
	line-height: 50px;
	font-size: 50px;
	color: rgba(255,255,255,0.0);
	font-weight: bold;
	letter-spacing: 30px;
	text-shadow: #fff 0px 0px 25px, #fff 0px 0px 15px;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-transition-property: text-shadow, color;
	-webkit-transition-duration: 0.2s, 0.2s;
	-webkit-transition-timing-function: linear, linear;
	-moz-animation-name: pulse;
	-moz-animation-duration: 1.2s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-transition-property: text-shadow, color;
	-moz-transition-duration: 0.2s, 0.2s;
	-moz-transition-timing-function: linear, linear;
}


@-webkit-keyframes pulse {
	0% { text-shadow: #fff 0px 0px 70px, #fff 0px 0px 50px; }
	35% { text-shadow: #fff 0px 0px 25px, #fff 0px 0px 15px; }
	40% { text-shadow: #fff 0px 0px 90px, #fff 0px 0px 70px; }
	60% { text-shadow: #fff 0px 0px 45px, #fff 0px 0px 35px; }
	70% { text-shadow: #fff 0px 0px 80px, #fff 0px 0px 60px; }
	100% { text-shadow: #fff 0px 0px 70px, #fff 0px 0px 50px; }
}
@-moz-keyframes pulse {
	0% { text-shadow: #fff 0px 0px 40px, #fff 0px 0px 20px; }
	35% { text-shadow: #fff 0px 0px 15px, #fff 0px 0px 10px; }
	40% { text-shadow: #fff 0px 0px 60px, #fff 0px 0px 40px; }
	60% { text-shadow: #fff 0px 0px 15px, #fff 0px 0px 25px; }
	70% { text-shadow: #fff 0px 0px 50px, #fff 0px 0px 30px; }
	100% { text-shadow: #fff 0px 0px 40px, #fff 0px 0px 20px; }
}

#murat:hover { -webkit-animation: none; -moz-animation: none; color: rgba(150,150,150,1); text-shadow: #000 2px 2px 10px; }

#ayfer { display: block; color: transparent; padding-left: 30px; line-height: 25px; opacity: 0.25; background: url('../images/ay.png') center left no-repeat; float: right; position: relative; top: -25px; }
#ayfer:hover { color: #fff; opacity: 0.5; }
